.course-management-p {
  font-size: 30px;
}
.course-container {
  width: 100vw;
}
.course-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px;
  margin: 20px;
}
.course-create-btn {
  padding: 15px 40px;
  border-radius: 50px;
  font-size: 18px;
  border: none;
  background: #e1f5fe;
  color: #0288d1;
  font-weight: 600;
}
.course-input-container {
  display: flex;
  width: 100%;
  gap: 20px;
  padding: 0 20px;
}
.course-card-container {
  display: grid;
  grid-template-columns: auto auto auto;
}
.card {
  margin: 50px 20px;
  padding: 30px;
  border-radius: 20px;
}
.card1 {
  background: #e3f2fd;
  border: 3px solid #ff7eb9;
}
.card2 {
  background: #e8f5e9;
  border: 3px solid #7afcff;
}
.card3 {
  background: #ffebee;
  border: 3px solid #feff9d;
}
.card-title {
  color: #6c757d;
  margin-bottom: 10px;
}
.card-p {
  font-weight: 800;
  margin-bottom: 20px;
}
.card-point {
  font-weight: 800;
  color: gray;
  font-size: 17px;
}
.card-content1 {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}
.card-content1-p {
  background: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}
.card-btn {
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 20px;
  font-weight: 700;
}
.card-btn-container {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
.edit-btn {
  background: #2980b9;
}
.assign-btn {
  background: #8e44ad;
}
.track-btn {
  background: #f39c12;
}
.archive-btn {
  background: #27ae60;
}
.load-more-btn {
  background: #ffce8d;
  border: none;
  color: #fff;
  padding: 20px 50px;
  border-radius: 50px;
  font-weight: 900;
  font-size: 15px;
  margin-left: 25px;
  margin-bottom: 20px;
}
.course-create-course-container {
  width: 90vw;
  margin: 0 auto;
  background: #f5f5f5;
  padding: 40px;
}
.course-create-course-container-modules {
  width: 90vw;
  margin: 40px auto;
  background: #f5f5f5;
  padding: 40px;
}
.course-module-h3 {
  font-weight: 700;
  padding: 30px 0;
}
.course-module-flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.add-chapter {
  padding: 15px 30px;
  margin-bottom: 20px;
  background: #f39c12;
  border: none;
  border-radius: 40px;
  font-weight: 600;
  color: #fff;
}
.option-btn {
  padding: 15px 30px;
  margin-bottom: 20px;
  background: #27ae60;
  border: none;
  font-weight: 600;
  color: #fff;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: #fff;
  transition: 0.4s;
}
input:checked + .slider {
  background: #2196f3;
}
input:checked + .slider:before {
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
.switch-input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.course-create-btn-container {
  display: flex;
  gap: 20px;
  padding: 0 60px;
  justify-content: end;
}
.save-btn-course {
  background: #000;
  color: #fff;
}
.publish-btn {
  background: #f39c12;
  color: #fff;
}
.cancel-btn {
  background: #fff;
  color: #000;
}
.btn-course {
  padding: 20px 40px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
}
